.enter {
  .header {
    & h1,
    p {
      text-align: center;
      width: 60%;
    }
  }

  .btn-group {
    width: 100%;
    margin-top: 15px;

    & a {
      text-decoration: none;
    }

    .arrow-right {
      width: 48px;
      height: 48px;
      background: $c_btn_background;
      border-radius: 25px;

      i {
        color: $c_white;

        &:focus {
          outline: none;
        }
      }
    }

    .btn-main {
      width: 120px;
      height: 48px;
      border-radius: 50px;
      background: $c_white;
      border: none;
      font-weight: 500;
      margin-right: 15px;
    }
  }
}
